<ng-doc-root
  [sidebar]="!hideSidebar()"
  [noWidthLimit]="!!hideSidebar()"
  [footerContent]="footerContent"
>
  <ng-doc-navbar [ngClass]="{ 'hide-sidebar': hideSidebar() }">
    <a class="brand" routerLink="/" ngDocNavbarLeft>
      <h3>
        <!--&lt;!&ndash;            <img src="assets/images/ng-doc.svg" />&ndash;&gt;-->
        <span class="brand-title-ng">Ng</span>
        <span class="brand-title-doc">PixiJS</span>
      </h3>
    </a>
    <div @preventInitialChild class="ng-doc-header-controls" ngDocNavbarRight>
      <ng-doc-theme-toggle></ng-doc-theme-toggle>
      <a
        href="https://github.com/klerick/ng-pixijs"
        ng-doc-button-icon
        ngDocTooltip="Repository on GitHub"
        size="large"
        target="_blank"
      >
        <ng-doc-icon [size]="24" customIcon="github"></ng-doc-icon>
      </a>
    </div>
  </ng-doc-navbar>
  <ng-doc-sidebar *ngIf="!hideSidebar()"></ng-doc-sidebar>
  <router-outlet></router-outlet>
</ng-doc-root>

<ng-template #footerContent>
  <div class="ng-doc-footer">
    MIT © {{ currentDate | date : 'yyyy' }} &nbsp;<a
      href="https://www.linkedin.com/in/aleksandr-kharkovey/"
      target="_blank"
      >Aleksandr Kharkovey</a
    >
  </div>
</ng-template>
